body {
  background-color: #e5e5e5;
}
.logo {
  position: absolute;
  width: 259.71px;
  height: 64px;
  left: 590px;
  top: 130px;
}

.texto {
  position: absolute;
  width: 552px;
  height: 78px;
  left: 444px;
  top: 234px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  text-align: center;

  color: #3772ff;
}

.inpt-nome {
  position: absolute;
  width: 552px;
  height: 40px;
  top: 90px;
  border: none;

  background: #f7f7f7;
  
  z-index: 1;
  color: #bcbcbc;
}

.lbl-nome {
  margin: 0 auto;
  z-index: 99;
  position: absolute;
  width: 55px;
  height: 24px;
  left: 242px;
  top: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  color: #737380;
}

::placeholder {
  margin: 0 auto;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #bcbcbc;
}

form {
  z-index: 0;
  position: absolute;
  width: 552px;
  height: 361px;
  left: 444px;
  top: 360px;
}

.main-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lbl-email {
  position: absolute;
  width: 68px;
  height: 25px;
  left: 242px;
  top: 170px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Cinza */

  color: #737380;
}

.inpt-email {
  position: absolute;
  width: 552px;
  height: 40px;
  top: 210px;
  border: none;

  background: #f7f7f7;

  z-index: 99;

  color: #bcbcbc;
}
