@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins";
  margin: 0 auto
}

.home{
  display: flex;
  height: 1000px;
  position:absolute;
  background-color: #3772FF;
  width: 1440px;
  z-index: 99;
}

.logoadopet {
  position: absolute;
  width: 259.71px;
  height: 64px;
  left: 590px;
  top: 130px;
}

.boas {
  margin: 0 auto;
  position: absolute;

  height: 48px;
  left: 603px;
  top: 234px;

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
}

.container-boas {
  margin: 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.texto {
  position: absolute;
  width: 488px;
  height: 52px;
  left: 476px;
  top: 306px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

.ilu {
  position: absolute;
  width: 346px;
  height: 431.63px;
  left: 517px;
  top: 535px;
}

.btn-login {
  position: absolute;
  width: 362px;
  height: 48px;
  left: 539px;
  top: 390px;
  border-radius: 6px;
  background: #fc7071;

  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.cadastro {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;

  color: #ffffff;
}
.login {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;

  color: #ffffff;
}

.btn-cadastro {
  position: absolute;
  width: 362px;
  height: 48px;
  left: 539px;
  top: 454px;
  background: #fc7071;

  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
